:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #010614;
  --gray: #243463;
  --redorange: linear-gradient(to right,#f37021 10%,#bd1a29 43%,#ed1c24 76%,#f04e30 101%);
  --sidebar: linear-gradient(160deg, #050138 0%, #300379 100%);
  --red:#f1416c;
  --error:#B6232D;
  --green:#20C997;
  --lightgery: #F4F7FE;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
  --white:#fff;
  --redglass: linear-gradient(to right, rgba(243, 112, 33, 0.31) 10%, rgba(189, 26, 41, 0.28) 54%, rgba(237, 28, 36, 0.36) 79%, rgba(240, 78, 48, 0.37) 101%);
}

.App {
  /* padding: 0.5rem 3.5rem; */
  color: var(--black);
  background: var(--lightgery) no-repeat left center;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  
}

.AppGlass {
  display: grid;
  height: 100%;
  width: 100%;
  gap: 16px;
  grid-template-columns: 15rem auto;

}



@media screen and (max-width: 1200px) {
  .AppGlass{
    grid-template-columns: 10% auto ;
    overflow-y: scroll;
  } 
}

@media screen and (max-width: 768px) {
  .AppGlass{
    grid-template-columns: 1fr;
  } 
  h1, h2{
    font-size: 18px;
  }
}